<h2>メモ編集</h2>
<form method="post" action="/memo/<%= params[:id] %>">
  <div class="form-group">
    <label>タイトル</label>
    <textarea type="text" class="form-control" rows="1" name="title">
      <%= h @title %>
    </textarea>

  </div>

  <div class="form-group">
    <label>内容</label>
    <textarea class="form-control" rows="3" name="content">
      <%= h @content %>
    </textarea>
  </div>

  <div>
    <input type="hidden" name="_method" value="PATCH">
    <button type="submit" class="btn btn-outline-secondary btn-block">保存</button>
  </div>
</form>

<form action="/" method="get">
  <div class="form-group">
    <button type="submit" class="btn btn-outline-secondary btn-block">キャンセル</button>
  </div>
</form>
