<div class="card">
  <h3 class="card-header"><%= h @title %></h3>
  <div class="card-body">
    <p class="card-text"><%= h @content %></p>
  </div>
</div>

<form method="GET" action="/memo/<%= params[:id] %>/edit">
  <div>
    <button type="submit" class="btn btn-outline-secondary btn-block">変更</button>
  </div>
</form>

<form method="POST" action="/memo/<%= params[:id] %>">
  <div>
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-outline-secondary btn-block">削除</button>
  </div>
</form>
</div>